@import "tailwindcss";

@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background-color: var(--color-neutral-very-dark-blue);
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-check-background-start: hsl(192, 100%, 67%);
  --color-check-background-end: hsl(280, 87%, 65%);
  --color-bright-blue: hsl(220, 98%, 61%);

  --color-neutral-very-light-gray: hsl(0, 0%, 98%);
  --color-neutral-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-neutral-light-grayish-blue: hsl(233, 11%, 84%);
  --color-neutral-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-neutral-very-dark-grayish-blue: hsl(235, 19%, 35%);

  --color-neutral-very-dark-blue: hsl(235, 21%, 11%);
  --color-neutral-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-neutral-light-grayish-blue-alt: hsl(234, 39%, 85%);
  --color-neutral-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-neutral-dark-grayish-blue-alt: hsl(234, 11%, 52%);
  --color-neutral-very-dark-grayish-blue-hue: hsl(233, 14%, 35%);
  --color-neutral-very-dark-grayish-blue-alt2: hsl(237, 14%, 26%);
}

